[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymupdf4llm = "1.28.*"
langchain-text-splitters = "==1.1.*"
pydantic = "==2.13.*"
openai = "==2.*"
psycopg = {extras = ["binary"], version = "==3.3.*"}
pydantic-settings = "==2.15.*"
sqlalchemy = "==2.0.*"
pgvector = "==0.4.*"
sqlacodegen = {extras = ["pgvector"], version = "==3.*"}

[dev-packages]

[requires]
python_version = "3.14"
